server {
    listen 80;
    listen [::]:80;
    server_name mlxyh.com;

    return 301 http://www.mlxyh.com$request_uri;
}

server {
    listen 80;
    listen [::]:80;
    server_name api.mlxyh.com;

    return 404;
}

server {
    listen 80;
    listen [::]:80;
    server_name www.mlxyh.com;

    root /var/www/mlxyh.com;
    index index.html;

    client_max_body_size 20m;

    location /api/ {
        proxy_pass http://127.0.0.1:8000/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_buffering off;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
